@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #ffffff;
}

/* navbar */
nav .container .collapse {
    justify-content: space-evenly !important;
}

nav .container .collapse ul li {
    padding: 5px 15px 5px 15px;
}

nav .container .register {
    border: 1px solid #289BDE;
    color: #289BDE;
}

/* slider  started  section-1  */

.section1 .container .carousel-item:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.7);
}

.section1 .container .carousel-caption {

    top: 245px;
}

.section1 .container .carousel-caption h1 {
    font-size: 65px;
}

.section1 .container .carousel-caption a {
    background-color: #289BDE;

}

.section1 .container .carousel-caption a {
    background-color: #289BDE;
}

/* slider  started  section-1  ended*/


/* Section2  */

.section2 .container .courses .col-md-8 small {
    color: #289BDE;
}

.section2 .container .more-btn a {
    background-color: #289BDE;
}

/* Section2  Ended */


/* Section3  */
.section3 .container .card .row .col-md-8 .card-body h5 {
    font-size: 45px;
}


.section3 .container .card .row .col-md-8 .card-body .read-more a:hover {
    background-color: #289BDE;
    color: #ffffff;
}

.button {
    background-color: #289BDE;
}


/* section3 ended */

/* section-4  */
.section4 .container {
    background-color: #289BDE;
}

.section4 .modal .modal-header {
    background-color: #289BDE;
}

.section4 .modal .modal-body .register {
    border: 1px solid #289BDE;
    color: #289BDE;
}

/* section-4 ended  */


/* Section-5  */

.section5 .container .student-elements h5 {
    font-size: 45px;
}

.section5 .container .read-more a:hover {
    background-color: #289BDE;
    color: #ffffff;
}

/* Section-5 ended */



/* Section-6  */
.section6 .container .feedback .carousel-control-prev {
    margin-left: -20px;
}

.section6 .container .feedback .carousel-control-next {
    margin-right: -20px;

}

.section6 .container .feedback .carousel-control-next .carousel-control-next-icon,
.section6 .container .feedback .carousel-control-prev .carousel-control-prev-icon {
    background-color: #289BDE;
}

/* Section-6 ended  */